.App {
  align-items: center;
  color: white;
  font-size: calc(12px + 2vmin);
  justify-content: center;
  text-align: center;
}

.Menu{
  position: relative;
  padding-top: 25px;
}

.MainTitle{
  font-size: 18pt;
}

.SubTitle{
  font-size: 14pt;
  font-style: oblique;
}
